.rules {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 170px;

}

.rules__item {
  width: 35%;
  max-width: 322px;

  @include font-black(36px);

  &:first-child {
    margin-right: 190px ;
  }

  &--registration {
    order: 2;
    margin-right: 197px;
  }

  &:nth-last-child(2) {
    max-width: 250px;
  }

  &:last-child {
    order: 3;
    max-width: 250px;
  }

  &:nth-child(2n-1) {
    margin-bottom: 63px;
  }
}

.rules__description {
  margin: 0;

  @include font-regular(20px);
  text-transform: uppercase;

  &--action {
    display: inline-block;
    vertical-align: text-top;
  }

  &--small {
    @include font-regular(20px);
    text-transform: none;
  }
}
