@font-face {
  font-weight: 700;
  font-family: "GraphikLCG";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/graphikblack.woff2") format("woff2"), url("../fonts/graphikblack.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "GraphikLCG";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/graphikmedium.woff2") format("woff2"), url("../fonts/graphikmedium.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "GraphikLCG";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/graphikregular.woff2") format("woff2"), url("../fonts/graphikregular.woff") format("woff");
}