@mixin font-black ($font-size:48px, $line-height:normal, $color:$white) {
  font-family: "GraphikLCG", "Arial", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 900;
  color: $color;
}

@mixin font-medium ($font-size:24px, $line-height:normal, $color:$darkblue) {
  font-family: "GraphikLCG", "Arial", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 500;
  color: $color;
}

@mixin font-regular($font-size:20px, $line-height:normal, $color:$white) {
  font-family: "GraphikLCG", "Arial", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 400;
  color: $color;
}

@mixin shadow-button() {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
}
